<div id="footerB">
<div class="row">
    <mat-toolbar color="primary">     
            <button class="" [routerLink]="['/Home']">
                <mat-icon aria-hidden="false" aria-label="Example home icon">  home
                    </mat-icon> 
                    <p>Home</p>
            </button>
            <button class="" [routerLink]="['/History']">
                <mat-icon aria-hidden="false" aria-label="Example home icon">  history
                    </mat-icon> 
                    <p>History</p>
            </button>
         
            <button class="" [routerLink]="['/Login']" id="logout">
                <mat-icon aria-hidden="false" aria-label="Example home icon">  logout
                    </mat-icon> 
                    <p>LogOut</p>
            </button>
       
    </mat-toolbar>
    </div>

    </div>
       
