<body>
<div class="container-flex">
    <div class="row" id="loginTab">
    <div class="col-md-6 col-sm-8 col-lg-8">
        <mat-card>
            <mat-card-header>
  <mat-card-title>
            <h3>DANSAHU PAY</h3>
        </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>
                <mat-form-field>
                    <mat-label>Enter Email Or mobile</mat-label>
                    <input matInput placeholder="username">
                </mat-form-field>
            </p>
           <p>
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input type="password" matInput placeholder="Password">
                </mat-form-field>
            </p>

            <div id="loginButton">
                <button mat-stroked-button id="forgetPassword">Forget-Password</button>
                <button mat-raised-button="2">login</button>
            </div>

        </mat-card-content>
          
        </mat-card>
    </div>
    </div>
    </div>
    
</body> 